<div class="container">
    <div class="row">
        <div class="col-2" routerLink="taskOne"><button> Task One</button> </div>
        <div class="col-2" routerLink="taskTwo"><button> Task Two</button></div>
        <div class="col-2" routerLink="taskThree"><button> Task Three</button></div>
        <div class="col-2" routerLink="taskFour"><button> Task Four</button></div>
        <div class="col-2" routerLink="taskFive"><button> Task Five</button></div>
        <div class="col-2" routerLink="taskSix"><button> Task Six</button></div>
    </div>
</div>
<br>
<ul></ul>

<router-outlet></router-outlet>